* {
  margin: auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.map-container {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker {
  /* background-image: url('mapbox-icon.png');
  background-size: cover; */
  width: 50px;
  height: 50px;
  background-color: hotpink;
  border-radius: 50%;
  cursor: pointer;
}

.main-wrapper {
  z-index: 1;
  position: absolute;
  background-color: #fff;
  top: 50px;
  left: 12px;
  
  box-shadow: 0px 4px 8px 3px rgb(100, 100, 100);
  width: 400px;
  
  height: auto;
}

.main-wrapper h1 {
  text-align: center;
}

.layer-picker {
  margin-top: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.switch {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  
}

.switch div {
  height: 100px;
  width: 100%;
  
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  
  
  
  border: 1px solid black;
}


.switch div:nth-child(1) {
  background-color: #f0b2b2;
  
}
.switch div:nth-child(2) {
  background-color: #ffc2a3;
}
.switch div:nth-child(3) {
  background-color: #b2e0c2;
}
.switch div:nth-child(4) {
  background-color: #ccd6e0;
}
.switch div:nth-child(5) {
  background-color: #ff9966;
}
.switch div:nth-child(6) {
  background-color: #e0d1ff;
}


.grow {
  flex-basis: 250px;
  
  transition: all .3s ease;
}


.shrink {
  flex-basis: 50px;
  
  transition: all .3s ease;
}



.hover-wrapper {
  position: absolute;
  z-index: 3;
  bottom: 400px;
  left: 1700px;
  width: 200px;
  height: 400px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
}